body {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #000000;
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Quicksand', times;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

section.post {

}

section.post-header {
  background-color: white;
  color: #FFFFFF;
  height: 100%;
  background-size: cover;
}

#custom-img {
  width: 100%;
  height: inherit;
}

section.post-content {
  padding-top: 30px;
  margin-bottom: 100px;
  color: black;
  text-align: justify;
  height: 100%;
  width: 75%;
  padding-left: 25%;
  font-size: 25px;
}

section.post-content a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

section.post-content p {
  margin-bottom: 15px;
}

section .post-title {
  font-size: 100px;
  bottom: 25px;
  right: 100px;
  position: absolute;
}

#blog-logo {
  opacity: 0;
  top: 30px;
  right: 18px;
  position: fixed;
  background-color: black;
  border-radius: 150px;
  width: 100px;
  height: 100px;
  padding: 0;
}

@media all and (max-width: 560px) {

    #blog-logo {
      width: 50px;
      height: 50px;
    }

}