body {
  background-color: white;
  margin-top: 20px;
  font-family: 'Quicksand', times;
}

.name{
	font-size: 90px;
	margin-top: 25px;
}

img.logo{
	width: 120px;
}

.notes{
	color: #468F2A;
	font-size: 70px;
}

.to{
	color: #861501;
	font-size: 120px;
}

/*footer{
  background-color: #656959;
  color: #F5F7E7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer div {
  padding: 5px;
  margin: 0;
  font-size: 35px;
  vertical-align: middle;
}

footer div span {
  display: inline-block;
  vertical-align: middle;
}

footer .twitter a{
  text-decoration: none;
  color: inherit;
  font-size: 50px;
}

footer img {
  width: 75px;
  height: 75px;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
  margin-right: 25px;
}
*/
.alert{
	background-color: orange;
	color:#F5F7E7 ;
	text-shadow: none;
}

.close{
	opacity: 1;
	text-shadow: none;
	color:#F5F7E7 ;	
}

fieldset{
	margin: 25px;
}

label{
	font-size: 40px;
	font-weight: bold;
	color: green;
}

div.notfound{
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color: #656959;
}

.navbar label{
	text-align: bottom;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	color: #656959;
}

select{
	font-size: 15px;
	font-style: italic;
	color: #656959;
}

#publicUrl, #publicUrl:focus{
	background-color: #F5F7E7;
	width: 60%;
	height:75px;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
	padding-right: 5px;
	font-family: 'Noto Serif', serif;
	font-size: 23px;
	color: #656959;
	border-radius: 10px;
	border: 5px solid  #656959; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  	box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    margin: 15px 0 15px 0;
}

#publicUrl:focus{
	background-color: #Ffffff;
	outline:none;
}

.arrange, .arrange:focus ,.arrange:hover{
	background-color: #F5F7E7;
	background-image: none;
	border: none;
	box-shadow: none;
	margin-top: 32px; 
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: bold;
  color: #656959;
}

#hiddenForm{
	display:none;
}

p.lead{
	margin: 25px;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color: #656959;
}

p.lead.post-title {
  margin: 5px;
  margin-top: 50px;
  font-size: 50px;
}

.overflow{
    overflow: hidden;
    width: 100%; /* Takes up the whole width of the slide */
    height: 500px; /* 100% doesn't work here, 400px seems to work well with almost every resolution. */
}

div.what{
  background-color: #B77C72;
  color:#F5F7E7 ;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 25px;
  text-align: center;
}

div.what .first {
  margin-top: 50px;
}

div.what p{
  font-size: 35px;
  line-height: 45px;
  width: 60%;
  margin-left: 20%;
}

div.what-reverse{
  background-color: #F5F7E7;
  color: #B77C72;
  margin-top: 0;
}

div.what a:hover,
div.what a:visited,
div.what a {
  color:#F5F7E7 ; 
}
