<footer>
  <p>Developed with love  by</p>

  <p><img src="/img/foto-blog.jpg"></p>

  <p class="twitter"><a href='http://twitter.com/olareoun' target='_blank'>@olareoun</a></p>

  <script src="/js/vendor/jquery-1.8.2.min.js"></script>
  <script src="/js/blog.js"></script>

</footer>