%footer
  / %div
  /   %span Developed with love  by
  /   %img{ :src => "/img/foto-blog.jpg" }
  /   %span.twitter
  /     %a{ :href => 'http://twitter.com/olareoun', :target => '_blank' } @olareoun
  %script{:type => "text/javascript", :src  => "/js/vendor/jquery-1.8.2.min.js"}
  %script{:type => "text/javascript", :src  => "/js/vendor/jquery-transit.js"}
  %script{:type => "text/javascript", :src  => "/js/vendor/color-thief.min.js"}
  %script{:type => "text/javascript", :src  => "/js/vendor/color.js"}
  %script{:type => "text/javascript", :src  => "/js/blog.js"}
  %script{:type => "text/javascript", :src  => "/js/helpers.js"}
  %script{:type => "text/javascript", :src  => "/js/widgets.js"}
  %script{:type => "text/javascript", :src  => "/js/services.js"}
  %script{:type => "text/javascript", :src  => "/js/transitions.js"}
