<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="container">
		<div class="row">
	  		<div class="span2">
	  			<a href='/'>
						<img src='img/notes2reveal.png' class='logo' alt='notes to reveal.js logo'/>
					</a>
	  		</div>
	  		<div class="span10">
		    	<h1 class="text-center name">
		    		<span class='notes'>Ever</span>
		    		<span class='to'>Blog</span>
		    	</h1>
	  		</div>
		</div>
		
	  <%= yield %>
	  <%= erb :footer %>
  </div>
</body>
</html>
