<div class='what first'>
  <p>Do you want to share your knowledge and thoughts?</p>
  <p>... but you don't want to get into a blogging platform.</p>
  <p>Are you familiar with <a href='http://www.evernote.com' target='_blank'>Evernote</a>?</p>
  <p>Would you believe me if I tell you that you will have a blog in less than 5 minutes (even less if you already have an Evernote account)?</p>
  <p>Give it a try!!</p>
</div>

<div class='what what-reverse'>
  <p>Open your Evernote.</p>
  <p>Create a notebook with the name you would like for your blog.</p>
  <p>Make the notebook public.</p>
</div>

<div class='what'>
  <p>Create a new note in your blog notebook.</p>
  <p>Give it a title.</p>
  <p>That will be the title of your first post.</p>
  <p>Insert some text.</p>
  <p>Attach a picture to the note.</p>
</div>

<div class="what what-reverse">
  <form method='POST' action='/blogify' name='url_form' id='url_form'>
      <label>Insert the blog notebook public url.</label>
      <div class="input-append">
        <input placeholder="http://www.evernote.com/pub/user/notebook" name='publicUrl' id='publicUrl'/>
      </div>
      <button type='submit' id="submit" class="btn arrange">
        <div id="imgBtnDiv" width="15px" height="15px"><img src='img/arrange.png' alt='Arrange' id="submitImg"/></div>
      </button>
  </form>
</div>
