<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <title>notes 2 reveal.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Devonshire' rel='stylesheet' type='text/css'>

    <link href="/css/blog.css" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
<body>
  <div id="n2r-logo">
    <img src="/img/notes2reveal.png">
  </div>
  <%= yield %>

  <script src="/js/vendor/jquery-1.8.2.min.js"></script>
  <script src="/js/blog.js"></script>
</body>
</html>
